@inherits LayoutComponentBase

<PageTitle>Macronutrients</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!-- Left Side Panel Navbar -->
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="https://istatus.herokuapp.com/" target="_blank">iStatus</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
