@page "/financestracker"

<PageTitle>Finances Tracker</PageTitle>

<h3>Welcome to Finances Tracker.</h3>

<form>
    <div class="mb-3">
        <label for="groceries" class="form-label">Groceries</label>
        <input type="number" class="form-control" id="groceries" aria-describedby="groceries">
    </div>
        <div class="mb-3">
            <label for="groceries" class="form-label">Rent</label>
            <input type="number" class="form-control" id="rent" aria-describedby="rent">
        </div>
        <div class="mb-3">
            <label for="groceries" class="form-label">Transportation</label>
            <input type="number" class="form-control" id="transportation" aria-describedby="transportation">
        </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>

<div align="center">
    <h3>Keep doing this and one day you too will become rich.</h3>
<img src="https://media2.giphy.com/media/pPzjpxJXa0pna/giphy.gif?cid=ecf05e474hbbmgbe7axt1nbvvbxoccqg6memml8nch0jq1bp&rid=giphy.gif&ct=g">
</div>

@code {

}
