@page "/fooditems"
@using Macronutrients.Data
@using Macronutrients.Models
@using Macronutrients.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Runtime.InteropServices.JavaScript

<PageTitle>Food Items</PageTitle>

<EditForm id="EditFoodModal" Model="@newFood" OnSubmit="@HandleNewFood()">
    <InputText id="name" @bind-Value="newFood.Name" />
    <button type="submit">Add Food</button>
    <br />
</EditForm>

<section id="FoodItemsPage">    
    <section id="FoodItemsPage-Header">Header</section>
    <section id="FoodItemsPage-Body">
        <div id="AllFoodsList">All Foods</div>
        <div id="ShowMacronutrients">Macronutrients</div>
        <div id="AddFoodForm">
            Add Food Form
        </div>
    </section>
    <section id="FoodItemsPage-Footer">Footer</section>
</section>

@*@if (nutrients != null && nutrients.Count != 0)
{
    @foreach (var e in nutrients)
    {
        <span class="NutrientItem" onclick="@(() => NutrientClick(e.Name))">@e.Name</span><br/>
    }
}
else
{
    <p>No Food Data exists.</p>
}
*@

@*<EditFoodModal></EditFoodModal>*@

@code {
    private Food newFood = new(); 

    private List<Nutrient> nutrients;// = FoodDataService.getNutrients();

    private void NutrientClick(string parameter)
    {
        Console.WriteLine(parameter);
    }

    private EventCallback HandleNewFood()
    {
        Console.WriteLine(newFood.Name);
        return new EventCallback(); 
    }
}