@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, WRLD!</h1>

Welcome to your new app. <br/>
<br/>
<iframe class="YoutubeEmbed" src="https://www.youtube.com/embed/NO_ZdJjMtdI?start=56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br/>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
